.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 40px 10px 20px;
    width: 80vw;
    height: 90vh;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.close-button {
    float: right;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.45rem;
    background-color: lightgray;
    font-size: 4.5rem
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.deleteCartContainer,
.checkoutContainer,
.chekoutButtonContainer {
    display: flex;
    justify-content: center;
}


/* очистити кошик */


/* cart products */

.cartProducts,
.checkoutProducts {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.cartProduct {
    padding: 30px;
}

.cartProduct p,
input {
    text-align: center;
}

.checkoutProduct p {
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.buyerData {
    display: flex;
    flex-direction: column;
}

.buyerData span {
    font-size: 4rem;
}

input {
    width: 80vw;
    margin-left: 7px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 5.5rem;
    font-size: 4rem;
    font-family: 'Comfortaa', 'regular';
}

input.cartItemQuantity,
button.removeCartItemButton {
    width: 100%;
}

.checkout.doubleDackerButton {
    color: #ff4d00;
}

input:focus {
    -moz-box-shadow: 0 0 1em 5px #ff4d00;
    -webkit-box-shadow: 0 0 1em 5px #ff4d00;
    box-shadow: 0 0 1em 5px #ff4d00;
    outline: 0;
}

textarea:focus {
    -moz-box-shadow: 0 0 1em 5px #ff4d00;
    -webkit-box-shadow: 0 0 1em 5px #ff4d00;
    box-shadow: 0 0 1em 5px #ff4d00;
    outline: 0;
}

textarea {
    font-size: 4rem;
    width: 80vw;
    font-family: 'Comfortaa', 'regular';
    margin-bottom: 30px;
    border-radius: 10px;
}


/* modal comments */

.commenterData {
    display: flex;
    flex-direction: column;
}

.commenterData span {
    font-size: 4rem;
}


/* message to buyer when ther are no content on page */

.successContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 63% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: ". . ." "first second ." ". third ." ". . .";
}

.row1 {
    grid-area: first;
}

.row2 {
    grid-area: second;
}

.row3 {
    grid-area: third;
}

.successContainer div {
    font-size: 3rem;
    width: 40vw;
}

@media screen and (min-width: 1020px) {
    /*1024px*/
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
        font-size: 1.5rem
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 10px 40px 10px 20px;
        width: 80vw;
        height: 90vh;
        border-radius: 0.5rem;
        overflow-y: scroll;
    }
    /* cart products */
    .cartProducts,
    .checkoutProducts {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
    }
    /* a cart product */
    .cartProduct,
    .checkoutProduct {
        margin-right: 30px;
    }
    .cartProduct p {
        text-align: center;
    }
    .checkoutProduct p {
        text-align: center;
    }
    input {
        margin-left: 7px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        height: 1.1rem;
        font-size: 1rem;
        width: 50%;
    }
    input.cartItemQuantity {
        margin-left: 0px;
    }
    .buyerData span {
        font-size: 1rem;
    }
    /* comments */
    .commenterData {
        font-size: 1rem;
    }
    /* .successContainer{
  display:flex;
  justify-content:center;
} */
    .successContainer div {
        font-size: 2rem;
    }
    /* comments */
    .commenterData {
        display: flex;
        flex-direction: column;
    }
    .commenterData span {
        font-size: 1rem;
    }
    textarea {
        margin-left: 7px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        height: 5.5rem;
        font-size: 1rem;
        width: 50%;
    }
}


/* Auth Modal content */
.authModal {
    width: 300px;
}



/* .userProfileModal {

} */

.userProfileModal .modal-content {
    background-color: lightgray;
    font-size: 100%;
    margin: 50px;
    width: 700px;
    /* display: grid; */
}

.username, .user-email {
    box-width: 400px;
    float: right;
    padding: 15px;
    
}

#name, #email {
    width: 400px;
    padding: 15px;
}

#modal-title {
    text-align: center;
    font-size: 110%;
    margin: auto;
    padding: 25px;
}

#user-delivery-address {
    width: 400px;
    padding: 15px;
}

.user-delivery-address {
    width: 400px;
    padding: 15px;
}